<div class="row">
	<div class="col-md-6">
		<div class="box box-primary">
			<div class="box-header">
				<h2 class="box-title">Total Of Violations</h2>
			</div>
			<div class="box-body">
				<canvas id="bar" class="chart chart-doughnut" chart-data="totalViolationsNumber" chart-labels="totalViolations" height="279">
				</canvas>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="box box-primary">
			<div class="box-header">
				<h2 class="box-title">Violations By User</h2>
			</div>
			<div class="box-body">
				<select class="form-control" ng-model="userSelected" ng-change="getViolationsByUser()" style="margin-bottom: 15px;">
					<option ng-repeat="user in users" ng-value="user.personid">{{user.name}}</option>
				</select>
				<canvas id="bar" class="chart chart-bar" chart-data="numberOfViolationsByUser" chart-labels="violationsByUser" height="250">
				</canvas>
			</div>
		</div>
	</div>
</div>
